<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Number Match Game</title>
    <link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function mouseEvent(){
            $.ajax({
                url:"/mouseEvent",
                type:"POST",
                success: function (result){
                    {#console.log(result);#}
                }
            });
        }

        function predictEvent(){
            $.ajax({
                url:"/predictEvent",
                type:"POST",
                success: function (result){}
            });
        }

        window.onkeydown = (e) => {
            if (e.code == 'Space'){
                mouseEvent();
            }
            if (e.code == 'Enter'){
                predictEvent();
            }
        }
        let start = 0;
        let color = Math.floor(Math.random() * 100).toString();
        setInterval(backGround ,1000);
        function backGround(){
            start += 1;
            if (start % 1 == 0){
                color = Math.floor(Math.random() * 100).toString();
                color = color.padStart(2, '0');
                $("body").css("background", '#'+color+color+color);
            }
        }
    </script>
</head>
<body>
<div class="container" style="width: 100%">
    <div class="row" style="width:70%; float:left;">
        <div class="col-lg-8  offset-lg-2">
            <img src="{{ url_for('video_feed') }}" width="100%">
            <form method="post" action="{{ url_for('start_event') }}">
            <input type={{t}} name="start" style="position: absolute; text-align: center; font-style: italic; font-size : 50px; left : 17%; top : 20vw; width: 35%; height: 60px;" />
            
            </form>
        </div>
    </div>
    <div style="width:29%; float:right;" id="wrap">
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>NickName</th>
                <th>Score</th>
            </tr>
            </thead>

            {% for row in dashboard %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
