<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Number Match Game</title>
    <link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let state = 0;
        let mode = true;

        function endEvent(){
            $.ajax({
                url:"/endEvent",
                type:"POST",
                success: function (result){}
            });
        }

        function startGame(){
            let input = document.getElementsByName("nickname");
            $.ajax({
                url:"/startEvent",
                type:'POST',
                data: {
                    nickname:input[0].value
                },
                success:function(result){
                    input[0].value = null;
                }
            });
        }

        function mouseState(){
            if (mode == false){
                $.ajax({
                url:"/mouseState",
                type:"POST",
                success:function (result) {}
                })
            }
        }

        function modeChange(){
            let myVideo = document.querySelector("#myVideo");
            let width = myVideo.clientWidth;
            let height = myVideo.clientHeight;
            let screenX = window.screenX;
            let screenY = window.screenY;
            $.ajax({
                url:"/modeChange",
                type:"POST",
                data:{
                    width:width,
                    height:height,
                    screenX:screenX,
                    screenY:screenY,
                },
                success: function (result){
                    mode = result == 'HAND'
                }
            });
        }

        function nickNameInput(){
            let input = document.getElementsByName("nickname");
            input[0].value = input[0].value.replace(" ", "");
            input[0].value = input[0].value.replace(/[ㄱ-ㅎㅏ-ㅣ가-힣]/g, "");
        }

        function predictEvent(){
            $.ajax({
                url:"/predictEvent",
                type:"POST",
                success: function (result){}
            });
        }

        window.onkeydown = (e) => {
            if (e.code == 'Space'){
                modeChange();
            }

            if (e.code == 'Enter'){
                if(state == 1){
                    predictEvent();

                }else{
                    state = 1;
                    $("#nickname").css("display", "none");
                    startGame();
                }
            }

            if(e.code == 'KeyQ'){
                state = 0;
                $("#nickname").css("display", "block");
                endEvent();
            }
        }

    </script>
</head>
<body style="background-image:url('../static/image/background.png')">
<div class="container" style="width: 100%">
    <div class="row" style="width:70%; float:left;">
        <div class="col-lg-8  offset-lg-2">
            <!-- onclick="mouse_painting(event)" -->
            <img id="myVideo" onclick="mouseState()" src="{{ url_for('video_feed') }}" width="100%">
            <input type="text" id="nickname" name="nickname" onkeyup="nickNameInput()" style="position: absolute; text-align: center; font-style: italic; font-size : 50px; left : 17%; top : 20vw; width: 35%; height: 60px;" />
        </div>
    </div>
    <div style="width:29%; float:right;" id="wrap">
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>NickName</th>
                <th>Score</th>
            </tr>
            </thead>

            {% for index in range(dashboard | length) %}
                <tr>
                    <td>{{ index+1 }}</td>
                    <td>{{ dashboard[index][0] }}</td>
                    <td>{{ dashboard[index][1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
